.DS_Store
.Trashes
*.swp
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
*.moved-aside
Carthage
node_modules
Pods/
fastlane/report.xml
fastlane/screenshots
Pods/Pods.xcodeproj/project.pbxproj
*.xcworkspace
*.xcuserstate
xcuserdata/
project.xcworkspace/
